---
title: Template of a news
listed: false
published: true
content_type: news
---
{% extends parent %}

{% block content %}

%ul.pager
  %li.previous
    %a{ href: "/tests/news?page={{ params.page }}" } &larr; Back

{% if news.interview %}
{% include interview with news %}
{% elsif news.recipe %}
{% include recipe with news %}
{% elsif news.illustrative_text %}
{% include illustrative_text with news %}
{% else %}

/ # UNSUPPORTED
.well
  %h2 Unsupported type of news

{% endif %}

{% endblock %}