{% assign illustrative_text = news.illustrative_text %}

.row
  .col-xs-12
    %img.img-responsive{ src: '{{ illustrative_text.image.url }}' }

%br

.row
  .col-xs-12
    .text-justify
      {{ news.text }}

%br