{% assign interview = news.interview %}

{% if interview.person %}

/ PERSON
.media
  .pull-left
    %img.media-object{ src: "{{ interview.person.picture.url | resize: '90x90#' }}" }
  .media-body
    %h4 {{ interview.person.name }}
    %p {{ interview.person.title }}

%br

{% endif %}

/ TAGS + DATE

.pull-right
  {{ news.published_at | localized_date: '%d.%m.%Y' }}

{% if news.tags %}
.tags
  %span.glyphicon.glyphicon-tags
  {% for tag in news.tags %}
  %span.label.label-primary {{ tag }}
  &nbsp;
  {% endfor %}
{% endif %}

%hr.clearfix

/ QUESTIONS + ANSWERS

{% for question in interview.questions %}

%h5 {{ question.question }}

.text.text-justify
  {{ question.answer }}

%hr

{% endfor %}
