---
title: Success stories
published: true
handle: success_stories
---
{% extends tests/layout %}

{% block content/tab_pane %}

{% consume data from url %}
{% assign information = data.information %}
{% endconsume %}

{% capture url %}http://{{ host }}/{{ locale }}/success_stories/all.json{% endcapture %}
{% consume data from url %}
{% assign success_stories = data.success_stories %}
{% endconsume %}

.row
  {% for success_story in success_stories %}
  .col-sm-6.col-xs-12
    .thumbnail
      .images
        %img.pull-left{ src: '{{ success_story.before_image.url | resize: "100x100#" }}' }
        %img{ src: '{{ success_story.after_image.url | resize: "100x100#" }}' }
      .caption
        %h5 {{ success_story.title }}
  {% endfor %}

{% endblock %}
