---
title: Layout
published: true
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{charset: "utf-8"}/
    %title {{ site.name }}
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}

    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{rel: "shortcut icon", href: "/samples/favicon.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/samples/apple-touch-icon-144x144-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/samples/apple-touch-icon-114x114-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/samples/apple-touch-icon-72x72-precomposed.png"}/
    %link{rel: "apple-touch-icon-precomposed", href: "/samples/apple-touch-icon-precomposed.png"}/

    {% inline_editor %}

  %body
    {% capture url %}http://{{host}}/index.json{% endcapture %}
    {% consume data from url %}
    {% assign information = data.information %}
    {% endconsume %}

    .container
      .row
        .col-sm-8.col-sm-offset-2.col-xs-offset-0.col-xs-12
          %h1 {{ page.title }}

          %p.text-center
            %img.img-responsive{ src: '{{ information.image }}' }

      .row
        .col-sm-4.col-sm-offset-2.col-xs-offset-0.col-xs-6
          %p {{ information.name }}
          %p {{ information.street }}
          %p {{ information.city }}
        .col-sm-4.col-xs-6
          .text-right
            %p Telefon {{ information.phone }}
            %p Fax {{ information.fax }}
            %p {{ information.email }}

      %br

      .row
        .col-sm-8.col-sm-offset-2.col-xs-offset-0.col-xs-12
          {% block content %}
          %ul.nav.nav-tabs
            %li{ class: "{% if page.handle == 'success_stories' %}active{% endif %}" }
              %a{ href: "/tests/index" } Success stories
            %li{ class: "{% if page.handle == 'team' %}active{% endif %}" }
              %a{ href: "/tests/team" } Team
            %li{ class: "{% if page.handle == 'institute' %}active{% endif %}" }
              %a{ href: "/tests/institute" } Institute
            %li{ class: "{% if page.handle == 'news' %}active{% endif %}" }
              %a{ href: "/tests/news" } News
          .tabbable
            .tab-content
              .tab-pane.active
                %br
                {% block tab_pane %}
                %p TODO
                {% endblock %}

          {% endblock %}


    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", type: "text/javascript"}
    {{ 'bootstrap.min.js' | javascript_tag }}
    :javascript
      $(document).ready(function() {
      });
