---
title: News
published: true
handle: news
---
{% extends tests/layout %}

{% block content/tab_pane %}

{% capture url %}http://{{ host }}/news/all.json?page={{ params.page }}{% endcapture %}
{% consume data from url %}
{% assign news = data.news %}
{% assign news_pagination = data.pagination %}
{% endconsume %}

%ul.media-list
  {% for news_entry in news %}
  .media
    .pull-right
      {{ news_entry.published_at | localized_date: '%d.%m.%Y' }}
    .media-body
      %h5.media-heading
        %a{ href: "/tests/news/{{ news_entry.slug }}?page={{ params.page }}" } {{ news_entry.title }}
      {% if news_entry.tags %}
      .tags
        %span.glyphicon.glyphicon-tags
        {% for tag in news_entry.tags %}
        %span.label.label-primary {{ tag }}
        &nbsp;
        {% endfor %}
      {% endif %}
      .text
        {{ news_entry.text }}

    %hr
  {% endfor %}

  {% if news_pagination %}
  .text-center
    %ul.pagination.pagination-sm
      {% if news_pagination.previous_page %}
      %li
        %a{ href: "?page={{ news_pagination.previous_page }}" } &laquo;
      {% else %}
      %li.disabled
        %span &laquo;
      {% endif %}

      {% for part in news_pagination.parts %}
      {% if part.hellip_break %}
      %li.disabled
        %span &hellip;
      {% elsif part.title == news_pagination.current_page %}
      %li.active
        %span {{ part.title }}
      {% else %}
      %li
        %a{ href: "?page={{ part.title }}" } {{ part.title }}
      {% endif %}
      {% endfor %}

      {% if news_pagination.next_page %}
      %li
        %a{ href: "?page={{ news_pagination.next_page }}" } &raquo;
      {% else %}
      %li.disabled
        %span &raquo;
      {% endif %}

  {% endif %}

{% endblock %}
